<!DOCTYPE html>
<html>
<head>
    <title>Area Finder</title>
</head>
<body>
    <h1>Area of Triangle Calculator</h1>

    <form action="/triangle_area" method="post">
        <label for="base">Enter the Base:</label>
        <input type="number" id="base" name="base">
        <label for="height">Enter the Height:</label>
        <input type="number" id="height" name="height">
        <input type="submit" value="Get">
    </form>

    <!-- <form action="/triangle_area" method="post">
        
        <input type="submit" value="Get">
    </form> -->

    {% if result %}
    <p>Area: {{ result }}</p>
    {% endif %}
</body>
</html>